[package]
name = "tauri-specta"
description = "Completely typesafe Tauri commands"
version = "0.0.2"
authors = ["Oscar Beaumont <oscar@otbeaumont.me>"]
edition = "2021"
license = "MIT"
include = ["/src", "/README.md", "/LICENCE"]
repository = "https://github.com/oscartbeaumont/tauri-specta"
documentation = "https://docs.rs/tauri-specta/latest/tauri-specta"
keywords = ["async", "specta", "rspc", "typescript", "typesafe"]
categories = ["web-programming", "asynchronous"]

[dependencies]
specta.workspace = true
serde = "1.0.152"
serde_json = "1.0.93"
tauri = "1.2.4"
thiserror = "1.0.38"
heck = "0.4.1"
indoc = "1.0.9"

[workspace]
members = [
    "example/src-tauri",
]

[workspace.dependencies]
# TODO: reenable
# specta = { version = "0.0.6", features = ["functions", "tauri"] }
specta = { git = "https://github.com/oscartbeaumont/specta.git", rev = "dfb4a66d261d85fab9dfea5744865363da3f3251", features = ["functions", "tauri"] }

[patch.crates-io]
specta = { git = "https://github.com/oscartbeaumont/specta.git", rev = "dfb4a66d261d85fab9dfea5744865363da3f3251" }
